body {
  font-family: Roboto, 'Helvetica Neue', sans-serif; }
  body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  body h1 {
    font-size: 20px; }
  body ul, body li {
    list-style: none; }
  body nav a {
    margin: 2px; }
